<template>
  <div class="bg-gray-200">
    <div class="flex flex-col items-center justify-center ">
      <div class="w-8/12 mt-6">
        <p class="text-base ">Trending Today</p>
      </div>

      <div class="flex flex-row items-center mt-2">
        <div class="relative w-56 h-40 bg-gray-300 bg-cover border rounded-lg shadow-md"  style="background-image: url(https://images.unsplash.com/photo-1529400971008-f566de0e6dfc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
          <div class="absolute bottom-0 mb-2 align-bottom align-text-bottom ">
            <h2 class="ml-2 text-xl font-semibold">Broncos</h2>
            <p class="ml-2 text-sm font-thin">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <a href="#" class="flex items-center ml-2 font-semibold text-black no-underline hover:underline"><img src="https://avatars0.githubusercontent.com/u/30317862?s=200&amp;v=4" class="w-5 h-5 border rounded-full"> <span class="ml-2 text-sm font-thin">r/tailwind</span></a>
          </div>
        </div>
        <div class="relative w-56 h-40 ml-3 bg-gray-300 bg-cover border rounded-lg shadow-md" style="background-image: url(https://images.unsplash.com/photo-1529400971008-f566de0e6dfc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)" >
          <div class="absolute bottom-0 mb-2 align-bottom align-text-bottom ">
            <h2 class="ml-2 text-xl font-semibold">Broncos</h2>
            <p class="ml-2 text-sm font-thin">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <a href="#" class="flex items-center ml-2 font-semibold text-black no-underline hover:underline"><img src="https://avatars0.githubusercontent.com/u/30317862?s=200&amp;v=4" class="w-5 h-5 border rounded-full"> <span class="ml-2 text-sm font-thin">r/tailwind</span></a>
          </div>
        </div>
        
         <div class="relative w-56 h-40 ml-3 bg-gray-300 bg-cover border rounded-lg shadow-md" style="background-image: url(https://images.unsplash.com/photo-1529400971008-f566de0e6dfc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)" >
          <div class="absolute bottom-0 mb-2 align-bottom align-text-bottom ">
            <h2 class="ml-2 text-xl font-semibold">Broncos</h2>
            <p class="ml-2 text-sm font-thin">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <a href="#" class="flex items-center ml-2 font-semibold text-black no-underline hover:underline"><img src="https://avatars0.githubusercontent.com/u/30317862?s=200&amp;v=4" class="w-5 h-5 border rounded-full"> <span class="ml-2 text-sm font-thin">r/tailwind</span></a>
          </div>
        </div>

         <div class="relative w-56 h-40 ml-3 bg-gray-300 bg-cover border rounded-lg shadow-md" style="background-image: url(https://images.unsplash.com/photo-1529400971008-f566de0e6dfc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)" >
          <div class="absolute bottom-0 mb-2 align-bottom align-text-bottom ">
            <h2 class="ml-2 text-xl font-semibold">Broncos</h2>
            <p class="ml-2 text-sm font-thin">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <a href="#" class="flex items-center ml-2 font-semibold text-black no-underline hover:underline"><img src="https://avatars0.githubusercontent.com/u/30317862?s=200&amp;v=4" class="w-5 h-5 border rounded-full"> <span class="ml-2 text-sm font-thin">r/tailwind</span></a>
          </div>
        </div>
      </div>
      
    </div>

    <div class="flex justify-center w-8/12 mx-auto mt-5">
      <div class="flex mx-auto w-960">
        <div class="w-2/3">
          <div class="py-2">
            <div class="flex items-center py-3 bg-white border rounded cursor-pointer border-grey-light-alt hover:border-grey" >
              <div class="w-full ml-2 text-sm bg-gray-100 border border-gray-200 rounded-lg" >
                  <input type="text" placeholder="Search Reddit" class="py-2 ml-2 text-sm text-black bg-gray-100 rounded" />
              </div>
              <div class="flex justify-center w-8 h-8 ml-3 align-middle bg-white hover:bg-gray-100 hover:rounded-full" >
                <svg class="w-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill="inherit" fill-rule="evenodd" d="m8.986223,16.927949l2.240493,-3.024991l-3.521864,-5.376734c-0.102125,-0.156 -0.274999,-0.251499 -0.461249,-0.253749c-0.158375,-0.01 -0.362749,0.0875 -0.468249,0.241249l-5.239359,7.532977c-0.12,0.170624 -0.1335,0.394124 -0.037,0.579248c0.0975,0.185249 0.287499,0.301999 0.497498,0.301999l6.989729,0zm8.513724,3.071991l-14.999954,0c-1.378746,0 -2.499992,-1.121247 -2.499992,-2.499992l0,-14.999954c0,-1.378746 1.121247,-2.499992 2.499992,-2.499992l14.999954,0c1.378746,0 2.499992,1.121247 2.499992,2.499992l0,14.999954c0,1.378746 -1.121247,2.499992 -2.499992,2.499992zm0.803498,-3.071991c0.221249,0 0.420999,-0.129125 0.511873,-0.331249c0.091,-0.201999 0.05375,-0.437749 -0.092,-0.602748l-4.238862,-4.778985c-0.11125,-0.12575 -0.257124,-0.186249 -0.444499,-0.188749c-0.169624,0.008 -0.325624,0.091 -0.425499,0.226874l-3.540739,4.778985c-0.126875,0.170749 -0.145,0.398749 -0.0495,0.587123c0.094375,0.189749 0.288749,0.308749 0.500748,0.308749l7.778726,0l-0.00025,0zm-2.982116,-11.404215c0,-1.173746 -0.952497,-2.124994 -2.124994,-2.124994c-1.174996,0 -2.124994,0.951247 -2.124994,2.124994c0,1.172496 0.949997,2.123744 2.124994,2.123744c1.172496,0 2.124994,-0.951247 2.124994,-2.123744z"></path></svg>
              </div>
              <div class="flex justify-center w-8 h-8 ml-2 mr-3 align-middle bg-white hover:bg-gray-100 hover:rounded-full" >
                <svg class="w-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.15,2.86a6.33,6.33,0,1,0-9,9A1,1,0,0,0,9.6,10.4a4.39,4.39,0,1,1,4.92.83,7.41,7.41,0,0,1,.14,1.44c0,.23,0,.46,0,.68a6.33,6.33,0,0,0,2.51-10.5Z"></path><path d="M10.4,8.19a1,1,0,0,0,0,1.41,4.39,4.39,0,1,1-4.92-.83,7.41,7.41,0,0,1-.14-1.44c0-.23,0-.46,0-.68a6.33,6.33,0,1,0,6.44,1.54A1,1,0,0,0,10.4,8.19Z"></path></svg>
              </div>
            </div>
          </div>

          <div class="py-2">
            <div class="flex bg-white border rounded cursor-pointer border-grey-light-alt hover:border-grey" >
              <div class="flex flex-col w-1/12 pt-2 text-center">
                <button class="text-xs">
                  <svg class="w-5 fill-current text-grey" viewBox="0 0 20 20">
                    <path d="M7 10v8h6v-8h5l-8-8-8 8h5z" />
                  </svg>
                </button>
                <span class="my-1 text-xs font-semibold">20k</span>
                <button class="text-xs">
                  <svg class="w-5 fill-current text-grey" viewBox="0 0 20 20">
                    <path d="M7 10V2h6v8h5l-8 8-8-8h5z" />
                  </svg>
                </button>
              </div>
              <div class="w-11/12 pt-2">
                <div class="flex items-center mb-2 text-xs">
                  <a href="#" class="flex items-center font-semibold text-black no-underline hover:underline" >
                    <img class="w-5 h-5 border rounded-full" src="https://avatars0.githubusercontent.com/u/30317862?s=200&v=4" />
                    <span class="ml-2">r/tailwind</span>
                  </a>
                  <span class="mx-1 text-grey-light text-xxs">•</span>
                  <span class="text-grey">Posted by</span>
                  <a href="#" class="mx-1 no-underline text-grey hover:underline" >u/TestUser</a>
                  <span class="text-grey">2 hours ago</span>
                </div>
                <div>
                  <h2 class="mb-1 text-lg font-medium">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tempor placerat turpis eu semper.
                  </h2>
                </div>
                <div class="inline-flex items-center my-1">
                  <div class="flex p-1 hover:bg-grey-lighter">
                    <svg class="w-4 fill-current text-grey" viewBox="0 0 20 20">
                      <path d="M10 15l-4 4v-4H2a2 2 0 0 1-2-2V3c0-1.1.9-2 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-8zM5 7v2h2V7H5zm4 0v2h2V7H9zm4 0v2h2V7h-2z" />
                    </svg>
                    <span class="ml-2 text-xs font-semibold text-grey"> 3k Comments </span
                    >
                  </div>
                  <div class="flex p-1 ml-2 hover:bg-grey-lighter">
                    <svg class="w-4 fill-current text-grey" viewBox="0 0 20 20">
                      <path d="M5.08 12.16A2.99 2.99 0 0 1 0 10a3 3 0 0 1 5.08-2.16l8.94-4.47a3 3 0 1 1 .9 1.79L5.98 9.63a3.03 3.03 0 0 1 0 .74l8.94 4.47A2.99 2.99 0 0 1 20 17a3 3 0 1 1-5.98-.37l-8.94-4.47z"/>
                    </svg>
                    <span class="ml-2 text-xs font-semibold text-grey">Share</span>
                  </div>
                  <div class="flex p-1 ml-2 hover:bg-grey-lighter">
                    <svg class="w-4 fill-current text-grey" viewBox="0 0 20 20">
                      <path d="M0 2C0 .9.9 0 2 0h14l4 4v14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5 0v6h10V2H5zm6 1h3v4h-3V3z"/>
                    </svg>
                    <span class="ml-2 text-xs font-semibold text-grey">Save</span>
                  </div>

                  <div class="flex p-1 ml-2 hover:bg-grey-lighter rotate-90">
                    <svg class="w-4 fill-current text-grey" viewBox="0 0 20 20">
                      <path d="M10 12a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0-6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 12a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"/>
                    </svg>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="w-1/3 ml-5">
          <div class="py-2">
            <div class="mb-4 bg-white rounded">
              <div class="">
                <div class="relative h-20 rounded-t" style="background-image: url('/banner-background.png');">
                    <p class="absolute bottom-0 mb-2 ml-3 font-semibold text-white">Today's Top Growing Communities</p>
                </div>
                
                <div>
                    <table class="items-center justify-center w-full mt-5 mb-5 ml-5 mr-5 table-auto">
                      <tbody>
                        <tr class="border-b border-gray-200">
                          <td class="p-1">1</td>
                          <td class="p-1"><svg class="w-6" version="1.1" viewBox="0 0 36 36"><path d="M10.5,15l7.5,7.5l7.5,-7.5Z" fill="#000"></path><path fill="none" d="M0,0h36v36h-36Z"></path></svg></td>
                          <td class="p-1"><img class="w-8 h-8" src="/bitcoin.png" alt srcset /></td>
                          <td class="p-1 text-sm font-semibold">r/HongKong</td>
                        </tr>

                        <tr class="border-b border-gray-200 ">
                          <td class="p-">2</td>
                          <td class="p-1"><svg class="w-6" version="1.1" viewBox="0 0 48 48"><path d="M14,28l10,-10l10,10Z" fill="#000"></path><path fill="none" d="M0,0h48v48h-48Z"></path></svg></td>
                          <td class="p-1"><img class="w-8 h-8" src="/bitcoin.png" alt srcset /></td>
                          <td class="p-1 text-sm font-semibold">r/Nuxt</td>
                        </tr>

                        <tr class="border-b border-gray-200 ">
                          <td class="p-">3</td>
                          <td class="p-1"><svg class="w-6" version="1.1" viewBox="0 0 36 36"><path d="M10.5,15l7.5,7.5l7.5,-7.5Z" fill="#000"></path><path fill="none" d="M0,0h36v36h-36Z"></path></svg></td>
                          <td class="p-1"><img class="w-8 h-8" src="/bitcoin.png" alt srcset /></td>
                          <td class="p-1 text-sm font-semibold">r/Tailwind</td>
                        </tr>

  
                      </tbody>
                     </table>
                  <button class="w-full px-4 py-2 text-sm font-semibold text-white rounded bg-blue-dark"> CREATE POST</button>
                </div>
                
                <div class="flex flex-row justify-center">
                  <button class="w-64 py-2 text-xs font-semibold text-gray-800 bg-white border border-gray-400 rounded hover:bg-gray-100"> Button </button>
                </div>

                <div class="flex flex-row justify-center mt-3">
                  <button class="px-2 py-1 mb-5 text-xs font-semibold text-gray-800 bg-white border border-gray-400 rounded hover:bg-gray-100 ">Button</button>
                  <button class="px-2 py-1 mb-5 ml-2 text-xs font-semibold text-gray-800 bg-white border border-gray-400 rounded hover:bg-gray-100 ">Button</button>
                  <button class="px-2 py-1 mb-5 ml-2 text-xs font-semibold text-gray-800 bg-white border border-gray-400 rounded hover:bg-gray-100 ">Button</button>
                  <button class="px-2 py-1 mb-5 ml-2 text-xs font-semibold text-gray-800 bg-white border border-gray-400 rounded hover:bg-gray-100 ">Button</button>
                </div>

              </div>
            </div>
            <div class="mb-4 bg-white rounded">
              <div class="p-2">
                <div class="flex items-center">
                  
                  <svg class="w-6 h-6 mr-4 fill-current text-orange" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Reddit Premium</title><path d="M13.535 15.785c-1.678.244-2.883.742-3.535 1.071v-5.113a2 2 0 0 0-2-2H4.217c.044-.487.076-1.016.076-1.629 0-1.692-.489-2.968-.884-3.722L4.8 3.001H10v4.742a2 2 0 0 0 2 2h3.783c.06.67.144 1.248.22 1.742.097.632.182 1.177.182 1.745 0 1.045-.829 2.291-2.65 2.555m5.028-12.249l-2.242-2.242a1 1 0 0 0-.707-.293H4.386a1 1 0 0 0-.707.293L1.436 3.536a1 1 0 0 0-.069 1.337c.009.011.926 1.2.926 3.241 0 1.304-.145 2.24-.273 3.065-.106.684-.206 1.33-.206 2.051 0 1.939 1.499 4.119 4.364 4.534 2.086.304 3.254 1.062 3.261 1.065a1.016 1.016 0 0 0 1.117.004c.011-.007 1.18-.765 3.266-1.069 2.864-.415 4.363-2.595 4.363-4.534 0-.721-.099-1.367-.206-2.051-.128-.825-.272-1.761-.272-3.065 0-2.033.893-3.199.926-3.241a.999.999 0 0 0-.07-1.337"></path></svg>
                  
                  <div class="flex flex-row justify-between ">

                    <div class="flex flex-col">
                        <span class="mb-1 text-xs font-medium text-black-alt">Reddit Premium</span>
                        <span class="mb-1 text-xs font-medium text-black-alt">The best Reddit experience with monthly Coins</span>
                    </div>
                  
                  <div class="flex flex-col">
                    <button class="px-2 py-1 mb-5 ml-2 text-xs font-semibold text-gray-800 bg-white border border-gray-400 rounded hover:bg-gray-100 ">Button</button>
                  </div>
                  </div>

                  <div class="flex ml-auto">
                    <button class="px-4 py-2 ml-auto text-xs font-semibold text-white rounded bg-orange" >GET PREMIUM</button>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="mb-4 bg-white rounded">
              <div class="w-full p-3 font-semibold text-xxs">TRENDING COMMUNITIES</div>
              <div class="pb-4">
                <div class="px-3 py-2">
                  <div class="flex">
                    <img class="w-8 h-8 mr-2 border rounded-full" src="https://avatars0.githubusercontent.com/u/30317862?s=200&v=4" />
                    <div class="flex flex-col font-medium">
                      <a href="#" class="text-xs leading-tight no-underline text-black-alt">r/tailwind</a>
                      <span class="text-xxs">1.000 subscribers</span>
                    </div>
                    <div class="flex ml-auto">
                      <button class="px-4 ml-auto text-xs font-semibold text-white rounded bg-blue-dark">SUBSCRIBE</button>
                    </div>
                  </div>
                </div>
                <div class="px-3 py-2">
                  <div class="flex">
                    <img class="w-8 h-8 mr-2 border rounded-full" src="https://avatars0.githubusercontent.com/u/30317862?s=200&v=4" />
                    <div class="flex flex-col font-medium">
                      <a href="#" class="text-xs leading-tight no-underline text-black-alt">r/tailwind</a>
                      <span class="text-xxs">1.000 subscribers</span>
                    </div>
                    <div class="flex ml-auto">
                      <button class="px-4 ml-auto text-xs font-semibold text-white rounded bg-blue-dark">SUBSCRIBE</button>
                    </div>
                  </div>
                </div>
                <div class="px-3 py-2">
                  <div class="flex">
                    <img
                      class="w-8 h-8 mr-2 border rounded-full"
                      src="https://avatars0.githubusercontent.com/u/30317862?s=200&v=4"
                    />
                    <div class="flex flex-col font-medium">
                      <a href="#" class="text-xs leading-tight no-underline text-black-alt">r/tailwind</a>
                      <span class="text-xxs">1.000 subscribers</span>
                    </div>
                    <div class="flex ml-auto">
                      <button class="px-4 ml-auto text-xs font-semibold text-white rounded bg-blue-dark">SUBSCRIBE</button>
                    </div>
                  </div>
                </div>
                <div class="px-3 py-2">
                  <div class="flex">
                    <img class="w-8 h-8 mr-2 border rounded-full" src="https://avatars0.githubusercontent.com/u/30317862?s=200&v=4"/>
                    <div class="flex flex-col font-medium">
                      <a href="#" class="text-xs leading-tight no-underline text-black-alt">r/tailwind</a>
                      <span class="text-xxs">1.000 subscribers</span>
                    </div>
                    <div class="flex ml-auto">
                      <button class="px-4 ml-auto text-xs font-semibold text-white rounded bg-blue-dark">SUBSCRIBE</button>
                    </div>
                  </div>
                </div>
                <div class="px-3 py-2">
                  <div class="flex">
                    <img class="w-8 h-8 mr-2 border rounded-full" src="https://avatars0.githubusercontent.com/u/30317862?s=200&v=4"/>
                    
                    <div class="flex flex-col font-medium">
                      <a href="#" class="text-xs leading-tight no-underline text-black-alt">r/tailwind</a>
                      <span class="text-xxs">1.000 subscribers</span>
                    </div>

                    <div class="flex ml-auto">
                      <button class="px-4 ml-auto text-xs font-semibold text-white rounded bg-blue-dark">SUBSCRIBE</button>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="mb-4 bg-white rounded">
              <div class="p-3">
                <div class="flex justify-between">
                  <div>
                    <a href="#" class="block text-xs font-medium text-black no-underline">About</a>
                    <a href="#" class="block text-xs font-medium text-black no-underline">Careers</a>
                    <a href="#" class="block text-xs font-medium text-black no-underline">Press</a>
                  </div>

                  <div>
                    <a href="#" class="block text-xs font-medium text-black no-underline">Advertise</a>
                    <a href="#" class="block text-xs font-medium text-black no-underline">Blog</a>
                    <a href="#" class="block text-xs font-medium text-black no-underline">Help</a>
                  </div>

                  <div>
                    <a href="#" class="block text-xs font-medium text-black no-underline">The Reddit App</a>
                    <a href="#" class="block text-xs font-medium text-black no-underline">Reddit Coins</a>
                    <a href="#" class="block text-xs font-medium text-black no-underline">Reddit Premium</a>
                    <a href="#" class="block text-xs font-medium text-black no-underline">Reddit Gifts</a>
                  </div>
                  
                </div>
                <div class="mt-6 text-center">
                  <p class="text-xs font-medium leading-tight text-black">
                    <a href="#" class="text-black no-underline" >Content Policy</a>|<a href="#" class="text-black no-underline">Privacy Policy</a>
                  </p>
                  <p class="text-xs font-medium leading-tight text-black">
                    <a href="#" class="text-black no-underline">User Agreement</a>|<a href="#" class="text-black no-underline">Mod Policy</a>
                  </p>
                  <p class="text-xs font-medium leading-tight text-black">
                    © 2018 Reddit, Inc. All rights reserved
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: "reddit"
};
</script>
