<template>
  <div class="border-b border-gray-200 flex flex-row justify-between px-3 py-4">
      <div class="ml-24 flex flex-row items-center justify-start">
       
        <div id="logo">
          <nuxt-link to="/CoinHome">
             <svg fill="currentColor" role="button" class="text-logo-coinbase w-24" xmlns="http://www.w3.org/2000/svg" width="122" height="28" viewBox="0 0 122 28"><path fill-rule="evenodd" d="M10.339 23.89c.935 0 1.799-.17 2.618-.49.007.016 1.674 2.606 1.698 2.624-1.509.811-3.086 1.168-4.81 1.168C4.72 27.192 1 23.815 1 18.424c0-5.43 3.91-8.807 8.845-8.807 1.757 0 3.142.381 4.537 1.127-.154.256-1.59 2.694-1.595 2.704a6.918 6.918 0 0 0-2.601-.49c-3.037 0-5.39 1.936-5.39 5.466 0 3.34 2.277 5.466 5.543 5.466zM23.265 9.617c5.049 0 8.693 3.569 8.693 8.807 0 5.2-3.644 8.768-8.693 8.768-5.01 0-8.654-3.567-8.654-8.768 0-5.238 3.644-8.807 8.654-8.807zm0 3.227c-2.808 0-4.859 2.164-4.859 5.58 0 3.379 2.05 5.542 4.86 5.542 2.885 0 4.897-2.163 4.897-5.542 0-3.416-2.012-5.58-4.898-5.58zM34.35 26.813V9.996h3.757v16.817H34.35zm-.494-21.98c0-1.29 1.102-2.314 2.354-2.314 1.253 0 2.353 1.024 2.353 2.315 0 1.329-1.1 2.392-2.353 2.392-1.252 0-2.354-1.063-2.354-2.392zm7.53 6.227c2.353-.911 5.24-1.443 7.706-1.443 4.29 0 7.023 1.632 7.023 6.377v10.819h-3.72V16.336c0-2.429-1.518-3.303-3.607-3.303-1.329 0-2.656.19-3.644.494v13.286h-3.758V11.06zM59.262 1h3.757v9.453c.797-.418 2.353-.836 3.833-.836 4.86 0 8.503 3.112 8.503 8.503 0 5.428-3.605 9.072-9.83 9.072a18.69 18.69 0 0 1-6.263-1.1V1zm3.757 22.625c.721.227 1.67.34 2.619.34 3.454 0 5.922-1.897 5.922-5.77 0-3.264-2.315-5.2-5.162-5.2-1.48 0-2.62.38-3.38.798v9.832zm23.192-8.087c0-1.822-1.367-2.656-3.227-2.656-1.936 0-3.454.569-4.858 1.366v-3.265c1.48-.834 3.377-1.366 5.466-1.366 3.681 0 6.3 1.518 6.3 5.731v11.123c-1.594.417-3.87.684-5.768.684-4.366 0-7.555-1.329-7.555-5.125 0-3.416 2.922-5.086 7.781-5.086h1.86v-1.406zm0 3.91h-1.594c-2.62 0-4.329.76-4.329 2.468 0 1.746 1.596 2.429 3.873 2.429.57 0 1.367-.076 2.05-.19V19.45zm6.414 2.81c1.557 1.176 3.416 1.897 5.124 1.897 1.671 0 2.772-.569 2.772-1.897 0-1.368-.987-1.861-3.15-2.43-3.493-.797-4.974-2.201-4.974-5.124 0-3.417 2.582-5.087 5.998-5.087 1.898 0 3.416.418 4.82 1.29v3.455c-1.48-1.062-2.922-1.708-4.706-1.708-1.632 0-2.505.797-2.505 1.898 0 1.1.72 1.67 2.657 2.2 3.835.836 5.504 2.28 5.504 5.316 0 3.53-2.695 5.124-6.339 5.124-1.974 0-3.948-.53-5.2-1.366v-3.568zm16.684-2.999v.076c.228 2.998 2.808 4.63 5.427 4.63 2.316 0 3.987-.531 5.656-1.632v3.304c-1.518 1.062-3.758 1.555-5.92 1.555-5.239 0-8.807-3.34-8.807-8.654 0-5.352 3.491-8.92 8.123-8.92 4.896 0 7.212 3.15 7.212 7.742v1.9h-11.691zm8.16-2.43c-.075-2.62-1.365-4.061-3.795-4.061-2.164 0-3.758 1.519-4.251 4.062h8.047z"></path></svg>
        </nuxt-link>
        </div>

        <div class="ml-20 text-sm mt-1  font-medium">
          <nuxt-link to="/CoinHome" class="header_nav_link text-black py-5 hover:text-logo-coinbase" >Home</nuxt-link>
          <nuxt-link to="/CoinPrices" class="header_nav_link ml-8 text-black hover:text-logo-coinbase" >Prices</nuxt-link>
          <nuxt-link to="/CoinAccounts" class="header_nav_link ml-8 text-black hover:text-logo-coinbase" >Accounts</nuxt-link>
        </div>
        
      </div>

      <div class="justify-end  mr-24">
        <CoinDropDown />
      </div>
   
  </div>
</template>

<script>
import CoinDropDown from '~/components/CoinDropDown.vue';
export default {
  components: {
    CoinDropDown
  }
}
</script>


<style scoped>

a.nuxt-link-active {
    @apply border-b-2 py-5 border-logo-coinbase;
  }

</style>