<template>
   <footer class="text-copy-primary ml-5 bottom-0 mt-32 text-sm pb-12 flex flex-row flex-col sm:justify-between" >
    <div>
      <p class="font-mono ">
        &copy; CPM 2019
      </p>
    </div>
    <div class="font-mono">
      <a href="https://github.com/adhamfarrag" target="_blank">Developed By Adham Mahrous</a>
    </div>
  </footer>
</template>