<template>
  <div class="w-full border-t bottom-0 object-bottom border-gray-200 flex flex-row justify-between px-3 py-4">
      <div class="ml-24 flex flex-row items-center justify-start">
       
        <div class="text-sm font-light">
          <nuxt-link to="#" class="text-logo-coinbase hover:text-logo-coinbase" >Home</nuxt-link>
          <nuxt-link to="#" class=" ml-3 text-logo-coinbase hover:text-logo-coinbase" >Careers</nuxt-link>
          <nuxt-link to="#" class=" ml-3 text-logo-coinbase hover:text-logo-coinbase" >Legal & Privacy</nuxt-link>
        </div>
      </div>
      <dir class="justify-between"></dir>
      <dir class="justify-between"></dir>
      <dir class="justify-between"></dir>
      <dir class="justify-between"></dir>
      <div class="justify-end ml-16 flex items-center">
        <p class=" text-gray-600 font-light text-sm mr-3">© 2019 Coinbase</p>
        <button class="border border-gray-200 flex items-center text-black text-sm font-light px-4 rounded">
          <span>English</span>

                <svg class="h-2 ml-24 text-gray-100" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
                  <g>
                    <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/>
                  </g>
                </svg>
          </button>
          <button class="border border-gray-200 ml-3 bg-logo-coinbase flex items-center text-white text-xs font-semibold px-2 rounded">
          <span class="m-1">Need Help?</span>

              
          </button>
      </div>
      <div>

      </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>